**/.circleci
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.github
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/package-lock.json
**/secrets.dev.yaml
**/swagger
**/test
**/values.dev.yaml
CHANGELOG.md
CONTRIBUTING.md
CONVENTIONS.md
LICENSE
README.md